@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.5;
  text-transform: capitalize;
}
h2 {
  color: #edf6f9;
  font-size: 2rem;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}
.icon {
  display: block;
  margin: 10px auto;
}
.form-container {
  max-width: 500px;
  align-self: center;
  padding: 1em;
  margin: 0 auto;
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-bottom: 0.5rem;
}
label {
  color: white;
  margin-left: 0.5rem;
}
form {
  display: grid;
  padding: 1em;
}
.user-input {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 0.3em 0.6em;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
}
input {
  padding: 0.3em 0.6em;
  border: none;
  width: 100%;
  display: block;
}
input:focus {
  border: none;
  outline: none;
}
.error {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 0.4em;
  color: #edf6f9;
}
button {
  border: none;
  background-color: #3781e3;
  /* background-color: #f72585; */
  padding: 0.5em 0.6em;
  color: white;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.1rem;
  border-radius: 30px;
}
button:hover {
  background-color: white;
  color: #3781e3;
  border: 2px solid #3781e3;
  font-weight: bold;
}
img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 50%;
  justify-content: end;
}
@media (max-width: 960px) {
  img {
    display: none;
  }
  .form-container {
    margin: 0 auto;
    width: 100%;
    /* background-color: #14213d; */
  }
}
