.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #14213d;
}
@media (max-width: 800px) {
  .container {
    justify-content: center;
  }
}
